
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f9;
    color: #333;
}

.parent {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-row-gap: 20px;
    max-width: 70vw;   
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0069d9;
    color: #fff;    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin: 0 1rem;
    height: 65vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 10px;
}

.footer-content {
    text-align: center;
    color: white;
    background-color: #0069d9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
    font-weight: 300;
    
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #ffff;
    text-align: center;
    padding: 0.751rem;
}
#span-h1 {
    color: #FFD3AC;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: #333;
    align-items: center;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: color 0.3s ease;
}
.navigation a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.navigation a:hover {
    color: #fff;
}
.navigation a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.wrap {
    flex-wrap: wrap;
}

p {
    text-align: center;
}

.aside, .card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.aside h2, .card h2 {
    text-align: center;
    background-color: #0069d9;
    color: white;
    padding: 0.75rem;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    
}

.aside-url {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.aside-url ul {
    padding: 0;
    margin: 0;
}

.aside-url li {
    margin: 0 10px;
    padding: 10px;
}

.card-content {
    display: grid;
    grid-template-rows: auto auto auto; 
}

.card-name {
    text-align: center;
    border-bottom: 1px solid #5c5a5a;
    border-image: linear-gradient(to right, transparent, #5c5a5a, transparent) 1 100%;
    border-image-slice: 1;
}

.about-me, .flag {
    display: flex;
    margin: 0.75rem;
}

h3 {
    padding: 0.75rem;
}

img {        
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: none; 
}

.about-me img {
    height: 150px;
    width: auto;
    justify-content: flex-end;
    margin-left: 0.75rem;
}
.flag img {
    height: 100px;
    width: auto;
    justify-content: flex-start;
    margin-right: 0.75rem;
}

.about-me p, .flag p {    
    text-align: left;
}

#flag figcaption {
    text-align: center;
    font-size: small;
    font-style: italic;
    font-weight: bold;
    
}

@media (max-width: 768px) {
    .parent {
        max-width: 90vw;
    }

    .main-content {
        grid-template-columns: 1fr;
        height: auto;
        
    }
    
    .about-me, .flag {       
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .about-me img, .flag img {
        min-width: 40vw;
        max-width: 50vw;
        height: auto;
        margin: 0.75rem auto 0.75rem;
        
    }
    
    .about-me p, .flag p {
        text-align: center;        
    }

    .flag P {
        padding-top: 0.7rem;
    }

}  

