:root {
    --primary-color: hsl(212, 90%, 50%);
    --secondary-color: hsl(0, 0%, 98%);
    --text-color: hsl(0, 0%, 20%);
    --border-radius: 0.5rem;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    --primary-gradient: linear-gradient(135deg, hsl(265, 100%, 50%) 0%, hsl(220, 100%, 50%) 100%);
    --secondary-gradient: linear-gradient(135deg, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 85%) 100%);
    --inactive-star-color: hsla(0, 0%, 0%, 0.7);
    --active-star-color: hsl(50, 100%, 50%);
    --faded-color: hsl(0, 0%, 70%);
    --warning: hsl(0, 100%, 50%);
    --border-color: 1px solid hsl(0, 0%, 85%);
}

.content {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    background: var(--primary-gradient);
    color: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
}

header {
    margin-bottom: 1rem;
    font-size: 1rem;
}

form {
    margin: 0 auto;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(4px);
    border: var(--border-color)
}

fieldset {
    border: none;
    padding-top: 0.15rem;
}

legend {
    display: block;
    font-weight: 500;
}

label {
    display: block;
    margin-bottom: 0.15rem;
    font-weight: 500;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    color: var(--inactive-star-color);
    transition: color 0.3s ease, transform 0.2s ease;
    font-size: 1.5rem;
}

.rating label:hover,
.rating input[type="radio"]:checked + label {
    color: var(--active-star-color);
    transform: scale(1.2);
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    border: var(--border-color);
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-size: 1rem;
}

input[type="text"]::placeholder, textarea::placeholder {
    color: var(--faded-color);
}

textarea {
    height: 10rem;
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-image: var(--primary-gradient);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
}

.features label {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-top: 0.15rem;
}

.features label:first-child {
    margin-top: 0;
}

.features input[type="checkbox"] {
    margin-right: 0.5rem;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.features input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    position: relative;
}

.features input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    color: var(--secondary-color);
    font-size: 0.75rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.shake {
    animation: shake 0.5s ease-in-out both;
    border-color: var(--warning) !important;
    outline-color: var(--warning) !important;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-0.25rem); }
    40%, 80% { transform: translateX(0.25rem); }
}

.rating.error label {
    color: var(--warning) !important;
}

@media screen and (max-width: 768px) {
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .rating input[type="radio"] {
        display: none;
    }

    .rating label {
        font-size: 2rem;
        color: var(--inactive-star-color);
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .rating label:before {
        content: '\2605';
    }

    .rating input[type="radio"]:checked ~ label,
    .rating label:hover,
    .rating label:hover ~ label {
        color: var(--active-star-color);
    }

    .rating input[type="radio"]:checked + label:hover,
    .rating input[type="radio"]:checked ~ label:hover,
    .rating label:hover ~ input[type="radio"]:checked ~ label,
    .rating input[type="radio"]:checked ~ label:hover ~ label {
        color: var(--active-star-color);
    }
}
